*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --color-darkgray: #222;
    --color-gray: #464646;
    --color-lightgray: #b9b9b9;
    --color-search: #3c3c3c;
    --color-banner: #2b2b2b;
    --color-script: #cdcdcd;
    
}

.wrapped{
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-darkgray);
}

/* header */

header{  
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--color-darkgray);

    .logo-site{
    }  
}

.text{
    padding: 0.5rem;
    background-color: var(--color-gray);
    border: 1px solid var(--color-gray);
    width: 20rem;
}

.access{
    text-decoration: none;
    color: var(--color-script);
    padding-right: 0.5rem;
}

.down-header{
    background-color: var(--color-banner);
    padding: 1rem;
    

    .search{
        background-color: var(--color-search);
        padding: 0.5rem;
        border: 1px solid var(--color-search);
        width: 20rem;
        border-radius: 20px;
    }
}

/* main */

.container-flex{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0.5rem;
    
    .col-album{  
        width: calc(100% / 4);
        padding: 1rem;

    }
}

.white{
    color: var(--color-script);
}

.alt{
    color: var(--color-gray);
}

.ufo{
    background-size: contain;
    width: 100%;
    border: 1px solid var(--color-gray);
}


.bottom{
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;

    .col-left{
        height: 100%;
        width: 70%;
        overflow-y: auto;
    }
    
    .col-right{
        height: 100%;
        width: 30%;
        overflow-y: auto;
        padding: 1rem;
    }
}

.rec{
    display: flex;
    margin-top: 2rem;
    

    .play{
        padding: 1rem;
        background-color: white;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
    }

    ul{
        list-style-type: none;
        color: var(--color-script);
        padding-left: 1rem;
    }
}

.block{
    display: block;
    width: 100%;
    height: 7%;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: white;
    border: 1px solid white;
    color: var(--color-search);

    .regular{
        background-color: var(--color-darkgray);
        border: 1px solid var(--color-script);
        color: var(--color-script);
    }
}

